<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Robot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <Robot.Properties.Settings>
            <setting name="x1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="r1" serializeAs="String">
                <value />
            </setting>
            <setting name="r2" serializeAs="String">
                <value />
            </setting>
            <setting name="r3" serializeAs="String">
                <value />
            </setting>
            <setting name="r4" serializeAs="String">
                <value />
            </setting>
            <setting name="tx1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tx2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tx3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tx4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ty1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ty2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ty3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ty4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hiz" serializeAs="String">
                <value>500</value>
            </setting>
        </Robot.Properties.Settings>
    </userSettings>
</configuration>
